* {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.n1 {
  text-align: center;

}

.titulo {
  font-family: Dela Gothic One;
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}

.desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.divtitulo {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divemail{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.divsenha{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divconfirme {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.divlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.inputform1 {
  margin-bottom: 2%;
  width: 515px;
  height: 37.5px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}

.inputform2 {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 38px;
  padding: 3px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
}


.inputform3 {
  width: 470px;
  height: 37.5px;
  padding: 3px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
}

.nome{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome2{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome3{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 40px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
}

.linklogin {
  margin-left: 3px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF0096;
  text-decoration: none;
}

.passwordInputContainer {
  display: flex;
  align-items: center;
}

.togglePasswordIcon {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: 2px solid black;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #fff;
}
