* {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 15px;
}

.imgbanc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  width: 130px;
}

.n1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.containervt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.divtituloVoltar {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 520px;
}

.voltardiv {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.divcentralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divtitulo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.voltar {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  margin-top: 10px;
}

.desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divinputnome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.divinputcpf {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.divinputnumero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.inputform1 {
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}

.inputform2 {
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}

.inputform3 {
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}

.nome {
  margin-top: 2%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.nome2{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.nome3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.nome4 {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 30px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
}
