* {
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15;
  position: relative;
  bottom: 80px;
}

.imgbanc {
  margin-bottom: 2%;
}

.n1 {
  margin: 80px;
}

.seta {
  position: relative;
  right: 200px;
}

.voltar {
  margin-right: 30px;
  position: relative;
  right: 60px;
  bottom: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  right: 200px;
  text-decoration: none;
  color: black;
}

.titulo {
  margin-right: 190px;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  left: 370px;
}

.desc {
  margin-right: 30px;
  position: relative;
  right: 60px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  right: 30px;
}

.formlog{
  margin-right: 350px;
  margin-top: 30px;
}

.inputform1 {
  margin-bottom: 2%;
  margin-left: 372px;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1;
}

.inputform2 {
  margin-left: 372px;
  margin-bottom: 2%;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1;
}

.inputform3 {
  margin-left: 372px;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1;
}

.nome {
  margin-top: 2%;
  position: relative;
  right: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.nome2 {
  margin-left: 5px;
  position: relative;
  right: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome3 {
  margin-left: 5px;
  position: relative;
  right: 3px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome4 {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.inputcheck { 
  margin-left: 225px;
  margin-top: 10px;
  position: relative;
  right: 125px;
  top: 2px;
  border-radius: 3px;
  accent-color: #04E762;
  cursor: pointer;
}

.inputcheck:checked {
  
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 40px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
}

.linkcadastro {
  margin-left: 3px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF0096;
}