.header {
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #AAAAAAB2;
  color: #FF0096;
}

.nomei {
  margin-left: 20px;
}

.inicio {
  display: flex;
  flex-direction: column;
}

.logorosa {
  margin-left: auto;
  margin-right: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selecttipo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  width: 410px;
  height: 50px;
  border: #000 solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.imgCartao {
  margin-right: 10px;
}

.divapresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divC {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 275px;
}

.cartaoimgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartao {
  display: flex;
  justify-content: center;
  align-items: start;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 400px;
  margin-top: 110px;
}

.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divtipo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divnumeroca {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divnomecompleto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divdupla {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;

}

.divdata {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 0px;
}

.divcvc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.inputform1 {
  width: 400px;
  height: 37px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.inputform2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  width: 400px;
  height: 37px;
  border-radius: 5px;
  padding: 5px;
}

.inputform3 {
  width: 190px;
  height: 37px;
  border-radius: 5px;
  padding: 5px;
}

.inputform4 {
  width: 190px;
  height: 37px;
  border-radius: 5px;
  padding: 5px;
}

.divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}





.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-top: 40px;
  margin-left: 20px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
} 
