* {
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15;
}

.divtitulovoltar {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;  
  width: 520px;
}

.voltardiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.divtitulo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.voltar {
  margin-right: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  right: 270px;
  text-decoration: none;
  color: black;
}

.titulo {
  font-family: Dela Gothic One;
  font-size: 38px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.desc2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.formlog{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.inputform1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1;
  margin-top: -20px;
}

.nome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 40px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
}

.linklogin {
  margin-left: 3px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF0096;
  text-decoration: none;
}