* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.responsiveContainer {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.imgbanc {
  margin-bottom: 2%;
}

.divtitulovoltar {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 420px;
}

.voltardiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.voltar {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  color: black;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.desc {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.divtitulo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divinputcep {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.divdupla1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.divinputestado {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  margin-right: 10px;
}

.divinputcidade {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.divinputendereco {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.divdupla2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.divinputnumero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  margin-right: 10px;
}

.divinputbairro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputform1 {
  display: flex;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.inputform2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.inputform3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.inputform4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 513px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.inputform5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.inputform6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 37px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.nome {
  display: flex;
  align-items: flex-start;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.nome2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}


.nome4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome5 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nome6 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  background-color: #FF0096;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: Poppins;
  cursor: pointer;
}

.linkcadastro {
  margin-left: 3px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF0096;
}
